<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://kit.fontawesome.com/d41001deaf.js" crossorigin="anonymous"></script>

    <title>Login</title>
</head>
<body class="login">
    <header>
        <section class="barralogo">
            <div class="logobarra">
               <div class="logo">
                 <img src="/images/logo-mercado-liebre.svg" alt="logo">
               </div>
                  <div class="barra">
                    <input type="text" name="" placeholder="Buscar productos,Marcas" id="nombre">
                       <div class="lupa">
                         <i class="fas fa-search"></i>
                       </div>
                  </div>
            </div>
                <div class="cuotas"> 
                 <a href=""><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</a>
               </div> 
            </section> 
         <section class="navegacion">
             <nav>
               <ul class="menu">
                 <li><a href="">Ofertas</a></li>
                 <li><a href="">Tiedas Oficiales</a></li>
                 <li><a href="">Vender</a></li>
                 <li><a href="">Ayuda</a></li>
               </ul>
             </nav>
             <nav>
               <ul class="menuusuario">
                 <li><a href="">Crea tu cuenta </a><i class="far fa-id-card"></i></li>
                 <li><a href="">Ingresa </a><i class="fas fa-sign-in-alt"></i></li>
                 <li><a href="">Mas compras </a><i class="fas fa-shopping-basket"></i></li>
               </ul>
             </nav>
         </section>
         <section>
           <nav class="burgermenu">
             <a class="burger" href=""><i class="fas fa-bars"></i></a>
           </nav>
         </section>
         <div class="banner">
           <img class="pdto" src="/images/img-home-banner.jpg" alt="banner" width="100%"> 
           </div>
    </header>
    <main>
        <h1>Ingresa</h1>
        <section class="ingresar">
            <form action="">
                <div class="box-form-user">
                    <input type="email" name="email" id="email" placeholder="íngresa tu email">
                  </div>
                  <div class="box-form-user">
                    <input type="password" name="password" id="password" placeholder="Contraseña">
                  </div>
                <small>La combinacion ingresada de email y contraseña no es válida</small>
                <div class="box-button">
                    <button type="submit">Ingresar</button>
                </div>
            </form>
        </section>
    </main>
    <footer>
        <section>
            <a class="icons" href=""><i class="fas fa-credit-card"></i></a>
            <h4>Paga con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>   
            <section>
                    <a class="icons" href=""><i class="fas fa-gift"></i></a>
                    <h4>Envio gratis desde $2.500</h4>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                    <a class="icons" href=""><i class="fas fa-user-shield"></i></a>
                    <h4>Seguridad, de principio a fin</h4>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
            </section>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>