@import url(general.css);

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

p{
    font-family: var(--font-family);
    font-size: var(--font-size-p);
}

span{
    font-size: var(--font-size-precios);
}
/*header*/
header{
    background-color: var(--Amarillo);
}

header .logo{
    padding-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 50%;
}

header section .barra{
    color: var(--GrisOscuro);
    margin-left: 10px;
    width: 50%;
    margin-bottom: 2px;
    display: flex;
    height: 20px;
    align-self: center;
    align-items: center;
}

header section .lupa{
    background-color: var(--GrisClaro);
    border: 1px solid grey;
    display: flex;
    align-self: center;
}

header section .lupa a{
    margin-left: 1.5px;
}

header .cuotas{
    font-size: 15px;
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

header section.barralogo{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

header section h4{
    font-size: 15px;
    padding: 0;
    margin: 10px 0;
}
header section nav .menu{
    margin-bottom: 20px;
}

header section nav ul li{
    display: none;
    font-family: var(--font-family);
    font-size: 12px;
}

header section .burgermenu{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
}

header section nav .burger{
    width: 35px;
    background-color: var(--Celeste);
    color: white;
    padding: 8px;
    border-radius: 4px;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
}

header div.banner{
    display: none
}

/*main*/

main{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--GrisClaro)
}

main h3{
    text-align: center;
    font-family: var(--font-family);
    font-size: 24px;
    padding: 15px;
    color: var(--GrisOscuro);
}
main h4{
    display: none;
}

main section article .pdto{
    width: 100%;
}

main section p{
    font-size: var(--font-size-desc);
}
main section article{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
}

main section article i {
	display: block;
	color: var(--Verde);
	border: 1px solid var(--Verde);
	border-radius: 50%;
	font-size: 16px;
	padding: 5px;
	width: 30px;
	height: 30px;
	background-color: #FFF;
	position: relative;
	left: 95%;
	top: -15px;
	margin: -30px;
}

main section article div.preciodesc{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

main section article div.articulos{
    border-top: 1px solid var(--GrisClaro);
    background-color:white;
}
main section article div.cont{
    padding: 0px 0 15px 15px;
}

main section article span{
    padding-right: 10px;
}

main section article p.desc{
    color: var(--Verde);
}

main img{
    border: solid 1px var(--GrisClaro);
}


/*footer*/

footer section{
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0 20px 0;
}

footer section .icons{
    color: var(--Celeste);
    width: 100%;
    size: 7x;
    padding: 20px 0 20px 0;
    font-size: 40px;
}

/*Media queries*/

/*tablet*/


@media (min-width : 361px) {
    /*header*/

    header section .burgermenu{
        display: none;
    }

    header section nav ul li{
        display: flex;
        font-family: var(--font-family);
        font-size: 12px;
    }

    header div.banner{
        display: flex;
    }
    
    /*main*/

    main section{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    main section article div.articulos{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main h4{
        display: flex;
        color: var(--GrisOscuro);
        font-weight: 400;
        padding: 15px 0 0 0;
    }

    main div.banner{
        display: flex;
        flex-grow: initial;
    }

    main section article{
        width: 40%;
        padding-bottom: 40px;
    }
}


/*Desktop*/

@media (min-width : 1024px){


    header section.barralogo{
        display: flex;
        justify-content: space-between;
    }

    header section .barra{
        width: 30%;
    }

    header .logo{
        width: 55%;
    }

    header .cuotas{
        width: 40%;
        align-self: center;
    }

    header section nav .menu{
        display: flex;
        width: 50%;
    }

    header section nav .menuusuario{
        display: flex;
    }

    header section nav ul li{
        padding: 0 15px 0 15px;
        font-size: 0.70rem;
    }

    header section.navegacion{
        display: flex;
        justify-content: space-between;
    }

    main section article{
        width: 20%;
        padding-bottom: 40px;
    }

}