@import url(general.css);

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

p{
    font-family: var(--font-family);
    font-size: var(--font-size-p);
}

span{
    font-size: var(--font-size-precios);
}
/*header*/
header{
    background-color: var(--Amarillo);
}

header .logo{
    padding-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 40%;
}

header section .barra{
    color: var(--GrisOscuro);
    background-color: var(--GrisClaro);
    display: inline-block;
    margin-left: 10px;
    border: solid 1px black;
    width: 50%;
    margin-bottom: 2px;
    border-radius: 3px;
}

header section .lupa{
    font-size: 15px;
    margin-left: 10px;
    padding-top: 2px;
    width: 5%;
    border: solid black 1px;
    background-color: var(--GrisClaro);
    border-radius: 3px;
}

header section .lupa a{
    margin-left: 1.5px;
}

header .cuotas{
    font-size: 15px;
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

header section h4{
    font-size: 15px;
    padding: 0;
    margin: 10px 0;
}
header section nav .menu{
    margin-bottom: 20px;
}

header section nav ul li{
    display: none;
    font-family: var(--font-family);
    font-size: 12px;
}

header section .burgermenu{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
}

header section nav .burger{
    width: 35px;
    background-color: var(--Celeste);
    color: white;
    padding: 8px;
    border-radius: 4px;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
}

header div.banner{
    display: none
}

/*main*/

main{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--GrisClaro)
}

main h3{
    text-align: center;
    font-family: var(--font-family);
    font-size: 24px;
    padding: 15px;
    color: var(--GrisOscuro);
}
main h4{
    display: none;
}

main section article .pdto{
    width: 100%;
}

main section p{
    font-size: var(--font-size-desc);
}
main section article{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
}

main section article div.articulos{
    border-top: 1px solid var(--GrisClaro);
    background-color:white;
}
main section article div.cont{
    padding: 15px;
}

main section article p.desc{
    color: var(--Verde);
}

main section article a.envio{
    color: var(--Verde);
    border-radius: var(--Verde) solid 1px;
}



main img{
    border: solid 1px var(--GrisClaro);
}


/*footer*/

footer section{
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0 20px 0;
}

footer section .icons{
    color: var(--Celeste);
    width: 100%;
    size: 7x;
    padding: 20px 0 20px 0;
    font-size: 40px;
}

/*Media queries*/

/*tablet*/


@media (min-width : 361px) {
    /*header*/

    header section .burgermenu{
        display: none;
    }

    header section nav ul li{
        display: flex;
        font-family: var(--font-family);
        font-size: 12px;
    }

    header div.banner{
        display: flex;
    }
    
    /*main*/

    main section article div.articulos{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main h4{
        display: flex;
        color: var(--GrisOscuro);
        font-weight: 400;
        padding: 15px 0 0 0;
    }

    main div.banner{
        display: flex;
        flex-grow: initial;
    }
}